@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css?family=News+Cycle|Material-Icons');

html, body { height: 100%; }
body, a, mat-toolbar {
  margin: 0;
  font-family: "News Cycle", "Helvetica Neue", sans-serif !important;
  font-weight: 300 !important;
  }
